@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor-app {
    @include m.desktop {
        @include m.grid(2,0);
        min-height: 100vh;
    } 

    .imagen {
        height: 30rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        @include m.desktop {
            height: auto;
        } 
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem;
        @include m.tablet {
            overflow: scroll;
        } 
    }
}

.barra {
    margin: 5rem 0;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    .boton {
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
    } 

    .boton {
        margin: 0 0 1rem 0;
    }
}